        
<form>

<%= form_tag '/leads_mailer' do%>
<h2>What do you need?</h2>

<label>
  <%= text_field_tag 'lead_name' %>
  <div class="label-text">name</div>
</label>

<label>
  <%= text_field_tag 'phone' %>
  <div class="label-text">phone #</div>
</label>

  <label>
  <%= text_field_tag 'what_you_need' %>
  <div class="label-text">What You Need</div>
</label>

<label>
  <%= text_field_tag 'short_message' %>
  <div class="label-text">A short message</div>
</label>

<button><%= submit_tag "submit",:value => "submit"%></button>

<%end%>

</form>





