<p id="notice"><%= notice %></p>

<meta name="keywords" content="<%= @seo_keywords %>" />

<div class="col-sm-6 blog-main">
  <%= render @blogs, rows: '7' %>

  <%= paginate @blogs %>

</nav>
</div>

<br>

    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>


    <% if session[:source] %>
    Thanks for visitng me from <%= session[:source] %>
    <% end %>
