
<body>
<article>

<p id="notice"><%= notice %></p>

<h2>
  <%= @blog.title %>
</h2>

<p>
  <%= @blog.body %>
</p>
</div>


</article>

<%= link_to 'Edit', edit_blog_path(@blog), method: :get if logged_in?(:site_admin) %> 
|
<%= link_to 'Back', blogs_path, method: :get %>

</body>