<h2>SHOW</h2>

<%= image_tag @portfolio_item.main_image %>

<em><%= @portfolio_item.subtitle %> </em>

<p><%= @portfolio_item.body %> </p>

<em><%= @portfolio_item.subtitle %> </em>

<h2> Technology Used: </h2>

<% @portfolio_item.technologies.each do |t| %>
<p> <%= t.name %> </p>

<% end %>

