




<header class="masthead clearfix">

  <div class="inner">
    <h3 class="masthead-brand"> SYNTHESIS TECHNOLOGI ES </h3><br><p>a research and development firm</p>

    <nav class="nav nav-masthead justify-content-center">
      <%= link_to "Home", root_path, class: 'btn-outline-primary btn-sm' %>
      <%= link_to "About", about_me_path, class: 'btn-outline-primary btn-sm' %>
      <%= link_to "Contact", contact_path, class: 'btn-outline-primary btn-sm' %>
      <%= link_to "Portfolio", portfolios_path, class: 'btn-outline-primary btn-sm' %>
      <%= link_to "Blob", blogs_path, class: 'btn-outline-primary btn-sm' %>
      <%= login_helper 'nav-link' 'btn btn-outline-primary btn-sm' %>
      
    </nav>
  </div>
</header>


