

<br>
<br>
<br>
<br>

<div class="container">



<div class="row">

<div class="col">

<header>



<ul>


      <%= link_to "Home", root_path, class: 'list-item', method: :get %>
<br>
      <%= link_to "About", about_me_path, class: 'list-item', method: :get %>
<br>
      <%= link_to "Contact", contact_path, class: 'list-item', method: :get %>
<br>
      <%= link_to "Portfolio", portfolios_path, class: 'list-item', method: :get %>
<br>
      <%= link_to "Blob", blogs_path, class: 'list-item', method: :get %>
<br>
    


</ul>


</header>


<!--
</div> END COL 1 OF 3 





<div class="col">


      <h3>
        Hello from Step Technologies
      </h3>


</div>  END COL 2 OF 3




</div>  END ROW 
<br>

</div>  END CONTAINER 


-->