


  <div>
  <div style="padding-bottom: 4px"> 
    <%= link_to "Home", root_path, class: 'btn btn-outline-primary', method: :get %> </div>
  <div style="padding-bottom: 4px"> 
    <%= link_to "About", about_me_path, class: 'btn btn-outline-primary', method: :get %> </div>
  <div style="padding-bottom: 4px"> 
    <%= link_to "Contact", new_message_path, class: 'btn btn-outline-primary', method: :get %> </div>
  <div style="padding-bottom: 4px"> 
    <%= link_to "Portfolio", portfolios_path, class: 'btn btn-outline-primary', method: :get %> </div>
  <div style="padding-bottom: 4px"> 
    <%= link_to "Blog", blogs_path, class: 'btn btn-outline-primary', method: :get %> </div>
  </div>

