


  <div>
  <div style="padding-bottom: 4px"> <%= link_to "Home", root_path, class: 'btn btn-outline-primary' %> </div>
  <div style="padding-bottom: 4px"> <%= link_to "About", about_me_path, class: 'btn btn-outline-primary' %> </div>
  <div style="padding-bottom: 4px"> <%= link_to "Contact", contact_path, class: 'btn btn-outline-primary' %> </div>
  <div style="padding-bottom: 4px"> <%= link_to "Portfolio", portfolios_path, class: 'btn btn-outline-primary' %> </div>
  <div style="padding-bottom: 4px"> <%= link_to "Blob", blogs_path, class: 'btn btn-outline-primary' %> </div>
  </div>

