
<div class="transbox">

<br>
<body>
<br>
<h1> We Are Problem Solvers. </h1>
<p>

Centered around one goal: to take your vision and make it a reality.


<br>
<br>
<br>
Idea
<br>
<%= fa_icon "arrow-down" %>
<br>
Prototype
<br>
<%= fa_icon "arrow-down" %>
<br>
Market Penetration Testing
<br>
<%= fa_icon "arrow-down" %>
<br>
Form/Function Analysis 
<br>
<%= fa_icon "arrow-down" %>
<br>
Pre-Production
<br>
<%= fa_icon "arrow-down" %>
<br>
Scalability Run
<br>
<%= fa_icon "arrow-down" %>
<br>
<%= fa_icon "hand holding usd" %>


<h2>
A little about the Tech:
</h2>


<p>
  
Ruby is a very powerful object oriented computer programming language that
runs on your desktop machine, and can be used to make iphone and android apps. 

Rails is a framework which allows you to build a "web application"
with which you can build out advanced data models with the ruby coding language
interfacing with the html and javascript inside the site. It is very secure and
provides tremendous value toward your goals.

</p>
<hr>
<p>
Huge companies like Google, Youtube, and Twitter use Ruby as a 
primary development language, amonst other valuable technologies. <br/> I'm sure you've been 
on a junky website that had cool features but just didn't feel very... Robust?
This is exactly why it is important to use cutting edge tech to provide top notch applications.
</p>
<hr>


<h3>
This means more (less break-y) 
functionality for your site such as 
Lead Generation, Landing Pages, Blogs, eCommerce, Calendars, Data Modeling, Data Visualization, 
and Better Security.
</h3>



<h2>
Better search rankings = More Business
</h2>
</p>
</body>

<hr>

</div>