
<div class="card">

<br>
<body>
<br>
<h1> We Are Problem Solvers. </h1>
<p>


Centered around one goal: to take your vision and make it a reality.


<br>
<br>
<br>
Idea
<br>
<%= fa_icon "arrow-down" %>
<br>
Prototype
<br>
<%= fa_icon "arrow-down" %>
<br>
Market Penetration Testing
<br>
<%= fa_icon "arrow-down" %>
<br>
Form/Function Analysis 
<br>
<%= fa_icon "arrow-down" %>
<br>
Pre-Production
<br>
<%= fa_icon "arrow-down" %>
<br>
Rapid A/B/Infinite Testing
<br>
<%= fa_icon "arrow-down" %>
<br>
Scalability Run
<br>
<%= fa_icon "arrow-down" %>
<br>
<%= fa_icon "hand holding usd" %>


<h2>
About the Tech:
</h2>


<p>
  
Whether it be bleeding-edge web frameworks like Ruby on Rails, Node JS, Python+Django, VueJS,

Know this: we focus on the best and most powerful technology to use NOW. 
Not yesterday, not last year. This flexibility and
never-ceasing learning practice on our part makes it so you get the best of the best.

</p>
<hr>
<p>
Huge companies like Google, Youtube, and Twitter use the same web frameworks we use as a 
primary development toolkit. <br/> 

I'm sure you've been 
on a not-so-nice wix or wordpress site before. 
The biggest problem is what's under the hood- Google finds high-tech websites more efficiently. 
This is why it is important to use modern technologies as they evolve.
</p>
<hr>


<h2>
Better search rankings = More Business
</h2>
</p>
</body>

<hr>

</div>