
<div class="row justify-content-center">
<div class="col-md-6">
<div id="card-darkbg" class="card">

<br>
<body>
<br>
<h1> We Are Problem Solvers. </h1>
<p>


We want to help take your vision and make it a reality.


<br>
<br>
<br>
Idea
<br>
<%= fa_icon "arrow-down" %>
<br>
Prototype
<br>
<%= fa_icon "arrow-down" %>
<br>
Market Penetration Testing
<br>
<%= fa_icon "arrow-down" %>
<br>
Form/Function Analysis 
<br>
<%= fa_icon "arrow-down" %>
<br>
Pre-Production
<br>
<%= fa_icon "arrow-down" %>
<br>
Rapid A/B/Infinite Testing
<br>
<%= fa_icon "arrow-down" %>
<br>
Scalability Run
<br>
<%= fa_icon "arrow-down" %>
<br>
PROFIT


<h2>
About the Tech:
</h2>


<p>

Using bleeding-edge frameworks like Ruby on Rails, Swift+Vapor/Kitura, Node JS, Python+Django, VueJS + Heroku/AWS/Azure/GoogleCloud.

Know this: we focus on the best and most powerful technology to use NOW. 
Not yesterday, not last year. This flexibility and
never-ceasing learning practice on our part makes it so you get the best of the best.

</p>
<hr>
<p>
Huge companies like Google, Youtube, and Twitter use the same web frameworks we use as a 
primary development toolkit. <br/> 

You're probably familiar with website builders like wix or wordpress. 
The big problem with these is what's under the hood - and making sure your site is found. 

<br/>Google finds high-tech websites more efficiently.
</p>
<hr>


<h3>
Better search rankings = More Business
</h3>

<%= link_to "Contact", new_message_path, class: "btn btn-secondary", method: :get %>

</p>
</body>

<hr>

</div>
</div>
</div>