<!doctype html>
      

    <html lang="en" dir="ltr">
    <head>

    <meta charset="utf-8">
        
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0, minimum-scale=0.5, shrink-to-fit=yes">

    <%= stylesheet_link_tag    'pricing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app.js' %>
    <%= stylesheet_link_tag    'particles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'particles.js' %>
    <%= javascript_include_tag 'application.js' %>


  </head>
<br>

<body>

<div id="particles-js"></div>

<div class="row justify-content-center">
</div>

<br>


<div class="row justify-content-center">
<%= link_to "What about return on investment?", blogs_path, class: 
'btn btn-sm btn-outline-primary', method: :get %>
</div>

<div class="row justify-content-center">

        <div class="col-md-12">
          <div class="container-fluid">
            <div class="page-header">
              <h1 class="page-title">
                Pricing
              </h1>
            </div>



          

            <div class="card-deck">

              <div class="col-4">
                <div class="card">
                  <div class="card-status bg-green"></div>
                  <div class="card-body text-center">
                    <div class="card-category">Solo Dolo</div>
                    <div class="display-3 my-4"> $800 </div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>One time </strong>, then only</li>
                      <li><strong>380/mo.</strong>To get you new business from Google searches</li>
                      <li><strong>Includes: </strong> </li>
                      <li>up to a <strong>5</strong> Page Web App </li>
                      <li><i class="fa fa-battery-full" aria-hidden="true"></i>  Ads Boost</li>
                      <li><i class="fa fa-dashboard" aria-hidden="true"></i>  CMS Dashboard</li>
                      <li><i class="fa fa-database" aria-hidden="true"></i>  Hosting</li>
                      <li><i class="fa fa-wrench" aria-hidden="true"></i>  Maintenance Support</li>
                      <li><i class="fa fa-gears" aria-hidden="true"></i>  Daily Ads Maintenance</li>
                    </ul>
                    <div class="text-center mt-6">
                      <!--    <a href="#" class="btn btn-green btn-block">Choose plan</a>   -->
                    </div>
                  </div>
                </div>
              </div>

<br>

              <div class="col-4">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="card-category">Enterprise</div>
                    <div class="display-3 my-4">$1700</div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>One Time Commitment</strong> </li>
                      <li><strong>+</strong> Discretionary Monthly Google and Facebook ADS BOOST to convert new business </li>
                      <li><strong>Up to 10</strong> Pages</li>
                      <li><i class="fa fa-bar-chart" aria-hidden="true"></i> Sharing Tools</li>
                      <li><i class="fa fa-bar-chart" aria-hidden="true"></i> Marketing tools</li>
                      <li><i class="fa fa-phone-square" aria-hidden="true"></i> Phone Support</li>
                      <li><i class="fa fa-database" aria-hidden="true"></i> Free Hosting for 1 year</li>
                    </ul>
                    <div class="text-center mt-6">
                      <!--   <a href="#" class="btn btn-secondary btn-block">Choose plan</a>   -->
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-4">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="card-category">Custom Solutions</div>
                    <div class="display-3 my-4">Call for details</div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>20+</strong> Pages, Advanced Features:</li>
                      <li><i class="fa fa-dashboard" aria-hidden="true"></i> Marketing Tools</li>
                      <li><i class="fa fa-cubes" aria-hidden="true"></i> Content Creation</li>
                      <li><i class="fa fa-battery-full" aria-hidden="true"></i> Ads BOOST</li>
                      <li><i class="fa fa-flask" aria-hidden="true"></i> Algorithmic Marketing, Advanced Retargeting</li>
                      <li><i class="fa fa-terminal" aria-hidden="true"></i> API</li>
                    </ul>
                    <div class="text-center mt-6">
                      <!--   <a href="#" class="btn btn-secondary btn-block">Choose plan</a>   -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row justify-content-center">
<%= link_to "Not Ready?", root_path, class: 
'btn btn-sm btn-outline-primary', method: :get %>
</div>

<br>

<div class="row justify-content-center">
<%= link_to "What about return on investment?", blogs_path, class: 
'btn btn-sm btn-outline-primary', method: :get %>
</div>

<br>

<div class="row justify-content-center">
<br>
    <i href="tel:9152419291" "call me" class="btn btn-sm btn-outline-primary">
      <a ></a>
      
        <br>
        <br>
        Press & hold to talk on the phone
        <br/>
        915-241-9291
        <br>
        <br>
        <br>
    </i>
</div>

<br>

      <div class="footer">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">First link</a></li>
                    <li><a href="#">Second link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Third link</a></li>
                    <li><a href="#">Fourth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Fifth link</a></li>
                    <li><a href="#">Sixth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Other link</a></li>
                    <li><a href="#">Last link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">

              </div>
            </div>

            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href=".">Nexus Ventures</a>
            </div>

          </div>
        </div>
      </footer>
    </div>
  </body>
</html>