<!DOCTYPE html>
<html>
  
  
  <%= render 'shared/blog_masthead' %>

  <body>

 <%= render 'shared/blog_nav' %>
    <!-- End of nav -->

    <!-- start of blog header -->
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">blob</h1>
        <p class="lead blog-description"> Learn ya some </p>
      </div>
    </div>
    <!-- end of blog header -->

    <!-- start of container and row element -->
    <div class="container">

      <div class="row">
    <!-- start of container and row element -->
        

        <%= yield %>

        <%= render 'shared/blog_sidebar' %>

      </div>
    </div>


        <!-- start of footer -->
        <%= render 'shared/blog_footer' %>
        <!-- end of footer -->


     
    
  </body>
</html>