<!DOCTYPE html>
<html>
  
  <!-- Global site tag (gtag.js) - Google Ads: 785838054 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-785838054"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-785838054');
</script>


  <%= render 'shared/blog_masthead' %>


  <%= render 'shared/blog_nav' %>
    <!-- End of nav -->

  <body>
    <!-- start of blog header -->
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"> <i></i> <br> </h1>
      </div>
    </div>
    <!-- end of blog header -->

    <!-- start of container and row element -->
    <div class="container">

      <div class="row">
    <!-- start of container and row element -->
        

        <%= yield %>

        <%= render 'shared/blog_sidebar' %>

      </div>

    </div>


        <!-- start of footer -->
        <%= render 'shared/blog_footer' %>
        <!-- end of footer -->


     
    
  </body>
</html>